---
// import Footer from '../../components/Footer.astro';
import CopyToClipboard from "react-copy-to-clipboard";
import Antd from "../components/Antd";
import Step from "../components/Step";
import Sds from "../components/Sds";

const value = "click to copy";
---

<!-- <CopyToClipboard
    client:load
    text={value}
    onCopy={() => {
        console.log(`Copied: ${value}`);
    }}
>
    <button>
        {value}
    </button>
</CopyToClipboard> -->
<CopyToClipboard
	client:load
	text={value}
	onCopy={() => {
		console.log(`Copied: ${value}`);
	}}>
	<button>
		{value}
	</button>
</CopyToClipboard>

<Antd client:load />

<Step client:load />

<Sds client:load />
